* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  /* background-image: linear-gradient(to top, #ffffff 0%, #ffffff 100%);
  /*background-image: linear-gradient(0deg, white, orange 40%, black);*/

  font-family: 'Roboto', sans-serif;
  background-repeat: no-repeat;
  background-size: cover;
  height: 1300px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}

/**********fondo*************/
div.fondo {
  position: absolute;
}

.contenedor {
  padding-top: 15px;
  width: 470px;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /*background-image: url("/img/fondo2.png");*/
  background-color: #bababaa5;
  background-size: cover;
  background-position: center;
  background-repeat: repeat;
  filter: blur(28px);

}


/**********fin fondo*********/
/****************** header *****************/
header{
  position: fixed;
  z-index: 10;
  background-color: #15a30d;
}
header nav ul {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

header nav ul li,
.menuOculto li {
  list-style: none;
  padding: 0 2%;
}

header nav ul li a,
.menuOculto li a {
  text-decoration: none;
  color: black;
}

.menuOculto li {
  font-size: medium;
  font-weight: 600;
  display: inline;
}

.oculto {
  visibility: hidden;
}

.visible {
  visibility: visible;
}

.menuOculto {
  width: 55%;
display:flex;
flex-wrap: nowrap;
}

.lilogo {
  width: 25%;
}

.lihamb {
  width: 13%;
}

/******************fin header *****************/
/******************slider *****************/
/*main .slider {
  background-image: url("/img/platoYcopa.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 30vw;
margin-top: 80px;
}*/

/******************fin slider *****************/
/**************footer******************/
footer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  position: relative;
  padding-top: 50px;
  width: 100%;
}

.searcher {
  color: white;
  width: 280px;
  height: 40px;
  position: absolute;
  top: 8px;
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.323);
  align-items: center;
  text-align: center;
  display: flex;
  justify-content: center;
}

.searcher input {
  width: 210px;
  height: 30px;
  border-radius: 5px;
  border-color: rgba(0, 0, 0, 0);
}

#send {
  width: 25px;
}

.searcher a {
  margin-left: 15px;
  background-image: url("../img/sentB.png");
  width: 30px;
  height: 30px;
  background-size: cover;
}

.searcher a:active {
  background-image: url("../img/sentN.png");
}

footer nav ul {
  display: flex;

  justify-content: center;
}

footer nav ul li {
  list-style: none;
  padding: 0 4%;
}

footer nav ul li a {
  text-decoration: none;
  color: rgb(0, 0, 0);
}

.menuFooter {
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgb(0, 0, 0);
  border-radius: 50px;
  box-shadow: 0px 14px 20px 5px rgba(0, 0, 0, 70%);
}

#home,
#call,
#search,
#user {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center;
}

#home {
  background-image: url("../img/pagina-de-inicio.png");
}

#home:active {
  background-image: url("../img/pagina-de-inicioG.png");
}

#call {
  background-image: url("../img/phone-callN.png");
}

#call:active {
  background-image: url("../img/phone-callG.png");
}

#search {
  background-image: url("../img/searchN.png");
}

#search:active {
  background-image: url("../img/searchG.png");
}

#user {
  background-image: url("../img/usuarioN.png");
}

#user:active {
  background-image: url("../img/usuarioG.png");
}

/*********fin footer**************/

/************main ***********/
/*
  .reservas {
    
    position:relative;
  }

 .reservas a{
    position: absolute;
    background-color:#8F0005;
    border-radius:1.5em;
    color:white;
    text-transform:uppercase;
    padding:1em 1.5em;
    left: 36%;
    top: 45%;
 }*/
/*******fin main***********/

/****** plato del dia *********/
.banner {
  position: relative;
  width: 100%;
  height: 200px;
  background: /*url(../img/platoSinFondo2.png),*/ url(../img/familyrestaurant7.jpg);
  background-size:contain;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15vw;
}

.banner #text {
  text-align: center;
  position: relative;
  top: 80px;
  font-size: 20px;
  letter-spacing: 5px;
  font-weight: bolder;
  color: black;
  z-index: 20;
}


.banner .clouds {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  pointer-events: none;
}

.banner .clouds img {
  position: absolute;
  bottom: 0;
  max-width: 100%;
  animation: animate calc(1s * var(--i)) linear infinite;
}

@keyframes animate {
  0% {
    opacity: 0;
    transform: scale(1);
  }

  25%,
  75% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    transform: scale(3);
  }


}
h2#text{
  margin-bottom: 2em;
  color: white;
}

section.secText {
  position: relative;
  padding: 25px 10px;
  color: white;
}

section.secText h2 {
  position: relative;
  font-size: 25px;
  text-align: center;
  margin-bottom: 20px;
  color: white;
}

/******fin plato del dia *********/
/************ especialidad de la casa ************/

.fondoBanner {

  background-image: linear-gradient(to top, #ffffffa5 0%, #ffffff00 80%, #ffffff00 100%);
  width: 150px;
  max-height: 500px;
  border-radius: 30px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  margin: 0 15px 0 15px;
}

.descripcionEspecialidad p {
  padding: 0 5px;
  font-size: 13px;
  text-align: center;
  min-height: 100px;
  max-height: 400px;
}

.fotoEspecialidad {
  border-radius: 100%;
  width: 100%;
  height: 100%;
}

.fotoEspecialidad img {
  object-fit: cover;
  border-radius: 100%;
  width: 150px;
  height: 150px;
  box-shadow: 0px 15px 25px black;
}

.bannerEsp {
  display: flex;
  justify-content: center;
  width: 190px;
  flex-wrap: wrap;
}

.bannerEsp .descripcionEspecialidad {
  width: 100%;
  padding-top: 15px;
}

.especialidadCasa {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
}

.especialidadCasa h2 {
  padding-top: 15px;
  width: 100%;
  color: white;
}

/************ fin especialidad de la casa ************/

main{
  background-image: url("../img/fondoF.png");
}